<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flag page</title>
    <link href="/static/mdb.css" rel="stylesheet">
    <link href="/static/login.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Flag page</h1>

        {{ flag }}
        <br>
        <br>
        <button onclick="history.back()" class="w-100 btn btn-lg btn-link go-to-login" type="submit">Go back</button>
    </div>
  </body>

</html>
