<!doctype html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error - user not found</title>
    <link href="/static/mdb.css" rel="stylesheet">
    <link href="/static/cover.css" rel="stylesheet">
    <style type="text/css">
      .goback {
        color: gray; 
      }
    </style>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <main class="px-3">
        <h1>Error</h1>
        <p class="lead">User not found</p>
        <button onclick="history.back()" class="w-100 btn btn-lg btn-link go-to-login" type="submit">Go back</button>
      </main>
    </div>
  </body>
</html>