<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link href="/static/mdb.css" rel="stylesheet">
    <link href="/static/login.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Registration</h1>

        Registered OK, you can now use login form to sign in.
        <br>
        <a href="/login"><button class="w-100 btn btn-lg btn-link go-to-login" type="submit">Go to login</button></a>
    </div>
  </body>

</html>
